div{
  font-size: 3em;
}


a{  /* Esto es Nav de react */
  color: #fff;
  text-decoration: none;
  background-color: black;
  padding: 10px 20px;
  font-size: 12px;
}

.activado{
  background-color: #00bcd4;
  color: black
}